.article {
  width: 100%;
  display: flex;

  .article-text {
    flex: 1;
    padding: 20px 50px 20px 50px;
    width: 100%;
    overflow: auto;
    //height: calc(100% - 40px);
    .name {
      //width: 100%;
      text-align: center;
      padding: 10px;
      font-size: 32px;
    }
    .text {
      width: 100%;
      text-align: center;
      height: calc(100% - 58px);
    }
  }
}