.main-page {
  width: 100%;
  height: 100%;
  max-width: 1366px;

  //align-items: center;
  //margin-right: auto;
  //margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}